  #screenshotMO {
        /* display: inline; */
        /* position: relative; */
		display: inline-block;
    }
    
    #screenshotMO img {
        /* position: absolute; */
        /* left: 50%; */
        /* transform: translate(-50%); */
        /* opacity: 0; */
        bottom: 1em;
        pointer-events: none;
        transition-duration: 800ms;    
    }
    
    #screenshotMO:hover img {
        opacity: 1;
        transition-duration: 400ms;
    }

	.tooltip-inner{
		max-width:500px;
		padding:3px 3px;
	}
	